
body {
  background-color: #eee;
}

#container {
  padding: 30px 30px 0px 30px;
  margin: 30px 30px 0px 30px;
  background-color: white;
  box-shadow: 0 0 20px #ccc;

}

p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  font-family: "tahoma"
}

text {
  font-family: 'tahoma';
}

text:hover {
  cursor: pointer;
}



/* Columns and Rows */

.column {
  float: left;
  padding: 10px;

}

.left {
  width: 35%;
}
.right {
  width: 65%
}

.middle {
  width: 80%;
}
.column.left.buttons {
  width: 30%
}
.column.right#slider-time {
  float: right;
  width: 65%;
  padding: 20px;
  margin-left: 20px;
  justify-content: flex-end;
  font-family: "tahoma"
}

.axis {
  font-family: "tahoma"
}


.row {
  width: 1300px;
  display:flex;
  padding-left: 20px;
  padding-right: 5px;
  padding-top:25px;
} 

.row-header{
  display:flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  justify-content: center;
}

.row-footer {
  display:flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  justify-content: start;
}


.row-header-title {
  flex:10%;
  padding-top: 0px;
}


/* Headings */
h1 {
  margin-bottom: 25px;
  font-size: 10px;
  font-family: "tahoma";
  font-weight: bold;
}
h2 {
  font-size: 8px;
  font-family: "tahoma";
  font-weight: bold;
}


/* Explanatory text */
/* https://stackoverflow.com/questions/1834831/how-to-position-two-divs-above-each-over/1834868 */
.text-container {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

.inner {
  position: absolute;
  margin-left : 25px;
  margin-right: 100px;
  margin-top: 10px; 
  z-index: 0;
  opacity: 0;

}

/* Annotations */
.annotations .handle {
  opacity: 0;
}

.handle {
  cursor: pointer
}


/* Buttons */
#Buttons{
  justify-content: center;
  padding-bottom: 20px;
}

.rect {
  cursor:pointer
}

/* rect:hover {
  opacity: 0.9;
} */

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #107386 !important;
  border-color: #107386 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #107386 !important;
  border-color: #107386 !important;
  box-shadow: 0 0 0 0.2rem rgba(100, 101, 102, 0.5) !important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #CF1264 !important;
  border-color: #CF1264 !important;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus {
  background-color: #CF1264 !important;
  border-color: #CF1264 !important;
  box-shadow: 0 0 0 0.2rem rgba(100, 101, 102, 0.5) !important;
}



.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #ff8c00 !important;
  border-color: #ff8c00 !important;
}
.btn-success:hover, .btn-success:active, .btn-success:visited, .btn-success:focus {
  background-color: #ff8c00 !important;
  border-color: #ff8c00 !important;
  box-shadow: 0 0 0 0.2rem rgba(100, 101, 102, 0.5) !important;
}

/* .active, .btn:hover{
  background-color: #666;
  color: white;
} */

/* Footer */
#footer {
  background-color: #f7f7f7;
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   font-size: 11px;
   padding-top:5px;
   padding-bottom: 10px;
}





/* Pie Chart */
polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}


/* Sankey */
.link {

  stroke-opacity: 0.3
}


.link:hover {
  stroke-opacity: 0.9
}



/* Line Chart */
.line {
  stroke-width: 4;
  fill: none;
}


