/* html,
body {
  width: 100%;
  height: 100%;
  
} */

body {
  background-color: #eee;
}
.Heading {
  display: flex;
  align-content: center;
  justify-content: center;
  padding:25px;
}

h1 {
  margin-bottom: 25px;
  font-size: 10px;
  /* display: flex;
  justify-content: center; */
  font-family: "tahoma";
  font-weight: bold;
}

/* h2 {
  display: flex;
  justify-content: center;
  font-family: "tahoma"
} */

/* Adapted from Scott Murray's Chapter 16 example */
#container {
  width: 1300px;
  margin: 25px auto 25px auto;
  padding: 50px 50px 50px 50px;
  background-color: white;
  box-shadow: 0 0 20px #ccc;
}

#header{
  background-color: gray;
}

p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
}

/* adapted from https://github.com/UrbanInstitute/state-economic-monitor  */
ul li{
  border: 3px solid rgb(160, 12, 12);
  display: inline-block;
  min-width: 200px;
  text-align: center;  
  display: inline-block;
  padding:10px;
  color:rgb(160, 12, 12);
}

/* .first,
.second {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: start;
 
} */

.container {
  display: flex;
  /* justify-content: center */
}

.Buttons {
  display: flex;
  justify-content: center;
}

rect:hover {
  opacity: 0.9;
}

text {
  font-family: 'tahoma';
}

text:hover {
  cursor: pointer;
}

.column {
  flex: 50%;
  padding: 10px;
}

.slider {
  cursor: default;
  display: flex;
  justify-content: center;
}

.handle {
  cursor: pointer
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/* .axis .domain {
  display: none;
} */

/* .slider {
  display: flex;
  justify-content: center;
} */

.sankey {
  display: flex;
  justify-content: start;
}

.link {

  stroke-opacity: 0.3
}


.link:hover {
  stroke-opacity: 0.9
}

.rect {
  cursor:pointer
}

div.tooltip {	
  position: absolute;			
  text-align: center;		
  text-justify: center;	
  width: 85px;					
  height: 50px;					
  padding: 2px;				
  font: 12px tahoma;		
  background: rgb(192, 196, 202);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

/* svg {
  position: absolute;
}

canvas {
  position: absolute;
} */

.line {
  stroke-width: 4;
  fill: none;
}

