/* html,
body {
  width: 100%;
  height: 100%;
  
} */

body {
  background-color: #eee;
}
/* .Heading {
  display: flex;
  align-content: center;
  justify-content: center;
  padding:25px;
} */

/* #sankey.column {
  flex: 80%;
  
}
#button.column {
  flex: 20%;
} */

.column {
  float: left;
  padding: 10px;

}

.left {
  width: 35%;
}
.right {
  width: 65%
}

.middle {
  width: 80%;
}
.column.left.buttons {
  width: 30%
}
.column.right#slider-time {
  float: right;
  width: 65%;
  padding: 20px;
  margin-left: 20px;
  justify-content: flex-end;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */


.row {
  width: 1300px;
  display:flex;
  padding-left: 20px;
  padding-right: 5px;
  padding-top:25px;
  /* justify-content: center; */
  
  /* margin: 25px auto 25px auto;
  padding: 50px 50px 50px 50px;
  background-color: white;
  box-shadow: 0 0 20px #ccc; */
} 


h1 {
  margin-bottom: 25px;
  font-size: 10px;
  /* display: flex;
  justify-content: center; */
  font-family: "tahoma";
  font-weight: bold;
}
h2 {
  font-size: 8px;
  font-family: "tahoma";
  font-weight: bold;
}

.pie-text {
  font-size: 8;
}

/* https://stackoverflow.com/questions/1834831/how-to-position-two-divs-above-each-over/1834868 */
.text-container {
  display: flex;
  justify-content: start;
  /* position: relative; */
  margin-bottom: 60px;
  /* margin-left:100px;
  margin-right:150px; */
}

.inner {
  position: absolute;
  margin-left : 25px;
  margin-right: 100px;
  z-index: 0;
  opacity: 0;
  /* bottom: 1px; */
  /* z-index: -1; */

}

.annotations .handle {
  opacity: 0;
}

/* h2 {
  display: flex;
  justify-content: center;
  font-family: "tahoma"
} */


/* Adapted from Scott Murray's Chapter 16 example */
/* #container {
  width: 1300px;
  margin: 25px auto 25px auto;
  padding: 50px 50px 50px 50px;
  background-color: white;
  box-shadow: 0 0 20px #ccc;
} */

#container {
  padding: 30px 30px 0px 30px;
  margin: 30px 30px 0px 30px;
  background-color: white;
  box-shadow: 0 0 20px #ccc;

}




.row-header{
  display:flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  justify-content: center;
}

.row-footer {
  display:flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  justify-content: start;
}

/* .row-header-sankey {
  flex:70%;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 0px;
  justify-content: start;
} */

.row-header-title {
  flex:10%;
  padding-top: 0px;
}

/* #slider-time {
  justify-content: center;
} */

/* #sankey{
  justify-content: center;
} */

#Buttons{
  justify-content: center;
  padding-bottom: 20px;
}

/* #header{
  background-color: gray;
} */

p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
}
.explanation {
  margin-bottom: 0px;
}

#IntakeExplanation {
  opacity: 0;
}

#DispositionExplanation {
  opacity: 0;
}

#SentenceExplanation {
  opacity: 0;
}

#Explanation {
  display:flex;
  box-align: center;
}

#footer {
  background-color: #f7f7f7;
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   font-size: 11px;
   padding-top:5px;
   padding-bottom: 10px;
}

/* adapted from https://github.com/UrbanInstitute/state-economic-monitor  */
/* ul li{
  border: 3px solid rgb(160, 12, 12);
  display: inline-block;
  min-width: 200px;
  text-align: center;  
  display: inline-block;
  padding:10px;
  color:rgb(160, 12, 12);
} */

/* .first,
.second {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: start;
 
} */

/* #pieSvg {
  top: 200; 
  left: 200;
  position:'absolute';
} */

/* .container {
  display: flex;
  /* justify-content: center */
/*} */

/* .Buttons {
  display: flex;
  justify-content: center;
} */

rect:hover {
  opacity: 0.9;
}

text {
  font-family: 'tahoma';
}

text:hover {
  cursor: pointer;
}


/* .slider {
  cursor: default;
  display: flex;
  /* justify-content: center; */

.handle {
  cursor: pointer
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/* .axis .domain {
  display: none;
} */

/* .slider {
  display: flex;
  justify-content: center;
} */

/* .sankey {
  display: flex;
  justify-content: start;
} */

.link {

  stroke-opacity: 0.3
}


.link:hover {
  stroke-opacity: 0.9
}

.rect {
  cursor:pointer
}

div.tooltip {	
  position: absolute;			
  text-align: center;		
  text-justify: center;	
  width: 85px;					
  height: 50px;					
  padding: 2px;				
  font: 12px tahoma;		
  background: rgb(192, 196, 202);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

/* svg {
  position: absolute;
}

canvas {
  position: absolute;
} */

.line {
  stroke-width: 4;
  fill: none;
}


